---
// Case Studies Home Section
// ------------
// Description: A featured section for the homepage that displays the 3 most recent case studies,
// a section title, descriptive text, and a "more" link to view all case studies.
//
// Properties:
// - data: An array of case study objects (required, any[])

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Button from '../../../components/ui/Button.astro'
import { Icon } from 'astro-icon/components'
import CaseStudyCard from '../../../components/ui/cards/CaseStudyCard.astro'

// Props
type Props = {
	data: any
}
const { data: allCaseStudies } = Astro.props

// Function to sort case studies by date
const sortedCaseStudies = allCaseStudies.sort((a: any, b: any) => {
	return new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
})
---

<>
	<Section id="caseStudies">
		<Row classes="pb-6">
			<Col span="2">
				<h2 class="text-2xl">Case Studies</h2>
			</Col>
			<Col span="5">
				<p class="text-base">
					From SaaS landing pages to eCommerce stores and interactive web apps. Each one reflects my
					focus on clean design, thoughtful UX, and modern front-end development.
				</p>
			</Col>
			<Col span="5" classes="lg:self-end lg:justify-self-end">
				<Button link="/case-studies" type="link" variation="link">
					more <Icon name="long-arrow-right" />
				</Button>
			</Col>
		</Row>
		<Row>
			<Col span="2" />
			<Col span="10">
				<div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
					{
						sortedCaseStudies.slice(0, 3).map((caseStudy: any) => (
							<CaseStudyCard
								link={`/case-studies/${caseStudy.id}`}
								title={caseStudy.data.title}
								image={caseStudy.data.cardImage}
								greyImage={caseStudy.data.greyImage}
								roles={caseStudy.data.roles}
							>
								{caseStudy.data.description}
							</CaseStudyCard>
						))
					}
				</div>
			</Col>
		</Row>
	</Section>
</>
