---
// Components
// - Layout
import Layout from '../layouts/LayoutDesign.astro'
import Section from '../components/ui/Section.astro'
import Row from '../components/ui/Row.astro'
import Col from '../components/ui/Col.astro'

// - UI
import { Image } from 'astro:assets'
import Card from '../components/ui/cards/partials/Card.astro'
import CardBody from '../components/ui/cards/partials/CardBody.astro'

// Content
// - SEO
const SEO = {
	title: 'Milo – Personal Resume & Portfolio Theme Built with Astro',
	description:
		'Milo is a fast, elegant, and accessible Astro theme built to showcase your resume, projects, and skills. Ideal for creating a personal portfolio or professional profile site.'
}

// - Data
import demoData from '../data/json-files/demoData.json'
---

<Layout title={SEO.title} description={SEO.description} navigation="sticky" footer={false}>
	<!-- Intro -->
	<Section id="intro">
		<Row>
			<Col span="2" />
			<Col span="10" spanMobile="4">
				<div class="animate">
					<h1 class="mt-0">Demos</h1>
					<p>
						Explore our collection of demos to see how our theme can be used to create a modern and
						professional portfolio or resume website. Each demo is built with different features and
						styles to help you find the perfect template for your needs.
					</p>
				</div>
			</Col>
		</Row>
	</Section>

	<!-- Designer Demos-->
	<Section id="designer" classes="!overflow-visible">
		<Row>
			<Col span="2" spanMobile="4" classes="h-full">
				<div class="sticky top-4">
					<h2 class="font-playfair italic">Designers</h2>
					<p class="font-nunito">
						Light color palette, elegant calligraphy-style fonts, soft animations, and a refined
						aesthetic for visual storytelling.
					</p>
				</div>
			</Col>
			<Col span="10" spanMobile="4">
				<div class="grid grid-cols-1 gap-9 lg:grid-cols-3">
					{
						demoData.designer.map((item: any) => (
							<Card>
								{item.image && (
									<a href={item.link} class="relative">
										<Image
											src={item.image}
											alt={item.title}
											width={600}
											height={400}
											class="w-full border border-neutral-200 dark:border-neutral-50"
										/>
									</a>
								)}
								<CardBody classes="!px-0 !pb-4 text-neutral-600 dark:text-neutral-400  text-base">
									<h3 class="mb-4 font-playfair text-lg font-normal italic text-neutral-900 transition-colors duration-300 hover:text-primary-500 dark:text-white [&_a]:text-inherit">
										<a href={item.link}>{item.title}</a>
									</h3>
									<p class="font-nunito">{item.description}</p>
								</CardBody>
							</Card>
						))
					}
				</div>
			</Col>
		</Row>
	</Section>

	<!-- Developer Demos-->
	<Section id="developer" classes="!overflow-visible">
		<Row>
			<Col span="2" spanMobile="4" classes="h-full">
				<div class="sticky top-4">
					<h2 class="font-ubuntu not-italic">Developers</h2>
					<p class="font-robotoMono">
						Dark UI theme, bold sans-serif fonts, snappy transitions, and a clean layout focused on
						performance and clarity.
					</p>
				</div>
			</Col>
			<Col span="10" spanMobile="4">
				<div class="grid grid-cols-1 gap-9 lg:grid-cols-3">
					{
						demoData.developer.map((item: any) => (
							<Card>
								{item.image && (
									<a href={item.link} class="relative">
										<Image
											src={item.image}
											alt={item.title}
											width={600}
											height={400}
											class="w-full border border-neutral-200 dark:border-neutral-50"
										/>
									</a>
								)}
								<CardBody classes="!px-0 !pb-4 text-neutral-600 dark:text-neutral-400 text-base">
									<h3 class="mb-4 font-ubuntu text-lg font-bold not-italic text-neutral-900 transition-colors duration-300 hover:text-secondary-500 dark:text-white [&_a]:text-inherit">
										<a href={item.link} class="hover:text-secondary-500">
											{item.title}
										</a>
									</h3>
									<p class="font-robotoMono">{item.description}</p>
								</CardBody>
							</Card>
						))
					}
				</div>
			</Col>
		</Row>
	</Section>
</Layout>
