---
// Components
// - Layout
import Layout from '../layouts/Layout.astro'
// - Blocks
import HomeVideoCTA from '../components/blocks/hero/HomeVideoCTA.astro'
import TitleText from '../components/blocks/titleText/TitleText.astro'
import Experience from '../components/blocks/feed/Experience.astro'
import Feedback from '../components/blocks/testimonials/Feedback.astro'
import CaseStudiesHomeSection from '../components/blocks/caseStudies/CaseStudiesHomeSection.astro'
// - UI
import List from '../components/ui/List.astro'

// Content
// - Data
import experienceData from '../data/json-files/experienceData.json'

// - Collection
import { getCollection } from 'astro:content'
const allCaseStudies = await getCollection('caseStudies', ({ id }) => {
	return id
})

// - SEO
const SEO = {
	title: 'Milo – Personal Resume & Portfolio Theme Built with Astro',
	description:
		'Milo is a fast, elegant, and accessible Astro theme built to showcase your resume, projects, and skills. Ideal for creating a personal portfolio or professional profile site.'
}

// - About me Data
const aboutMeData = {
	title: 'About me',
	id: 'about',
	firstColumn: [
		{
			text: "I'm a front-end developer with a passion for crafting beautiful, fast, and accessible websites. With a background in design and a love for clean code, I bridge the gap between aesthetics and functionality. I’ve collaborated with startups and agencies to that leave a lasting impression."
		}
	],
	secondColumn: [
		{
			text: 'Outside of work, you’ll usually find me sketching interface ideas, playing with new CSS tricks, or exploring design trends on Dribble. I believe in continuous learning and sharing knowledge — whether it’s through side projects, writing, or helping others level up their web skills.'
		}
	]
}
// - Skills & Tools Data
const skillsData = {
	title: 'Skills & Tools',
	id: 'skills',
	firstColumn: [
		{
			text: 'Over the years, I’ve developed a strong skill set that blends design intuition with technical execution. Whether I’m building from scratch or refining an existing product, I focus on crafting user-centered experiences.',
			listItems: [
				{ listItem: 'UI/UX Design' },
				{ listItem: 'Design Systems' },
				{ listItem: 'Motion & Microinteractions' },
				{ listItem: 'Accessibility (WCAG)' },
				{ listItem: 'Performance Optimization' }
			]
		}
	],
	secondColumn: [
		{
			text: 'I work with a modern stack of tools that help me move fast, stay organized, and deliver high-quality results. From design to deployment, I pick the tools that best suit each project’s needs.',
			listItems: [
				{ listItem: 'Figma & FigJam' },
				{ listItem: 'Framer' },
				{ listItem: 'Webflow' },
				{ listItem: 'Astro / React / Tailwind CSS' }
			]
		}
	]
}
// - Feedback Data
import testimonials from '../data/json-files/testimonialData.json'
const feedbackData = {
	title: 'Feedback',
	id: 'feedback'
}
---

<Layout title={SEO.title} description={SEO.description}>
	<HomeVideoCTA />
	<TitleText title={aboutMeData.title} id={aboutMeData.id}>
		<p slot="firstColumn">
			{aboutMeData.firstColumn[0].text}
		</p>
		<p slot="secondColumn">
			{aboutMeData.secondColumn[0].text}
		</p>
	</TitleText>
	<Experience data={experienceData} />
	<TitleText title={skillsData.title} id={skillsData.id}>
		<div slot="firstColumn">
			<p>
				{skillsData.firstColumn[0].text}
			</p>
			<List type="basic" listItems={skillsData.firstColumn[0].listItems} classes="ml-4 " />
		</div>
		<div slot="secondColumn">
			<p>
				{skillsData.secondColumn[0].text}
			</p>
			<List type="basic" listItems={skillsData.secondColumn[0].listItems} classes="ml-4 " />
		</div>
	</TitleText>
	<Feedback title={feedbackData.title} id={feedbackData.id} data={testimonials} />
	<CaseStudiesHomeSection data={allCaseStudies} />
</Layout>
