---
// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Testimonial from '../../ui/Testimonial.astro'
import Slider from '../../ui/Slider.astro'

// Content
// - Props
type Props = {
	data: any
	title: string
	id?: string
	classes?: string
}
const { data, title, id, classes } = Astro.props
---

<Section id && id={id} classes={classes}>
	<Row>
		<Col span="2">
			<h2 class="text-3xl leading-8">{title}</h2>
		</Col>
		<Col span="10">
			<Slider
				slidesPerView={1}
				id="feedback"
				delay={3500}
				showNavigation={false}
				centeredSlides={true}
				initialSlide={0}
			>
				{
					data.map((item: any) => (
						<div class="swiper-slide">
							<Testimonial
								blockquote={item.blockquote}
								figcaption={item.figcaption}
								cite={item.cite}
								align="left"
							/>
						</div>
					))
				}
			</Slider>
		</Col>
	</Row>
</Section>
