---
// Imports
const { frontmatter } = Astro.props

//Layout Components
import Layout from './Layout.astro'
import Col from '../components/ui/Col.astro'
import Row from '../components/ui/Row.astro'
import Section from '../components/ui/Section.astro'
import Button from '../components/ui/Button.astro'
import { Icon } from 'astro-icon/components'

// Content
// - SEO
const SEO = {
	title: `${frontmatter.title} | Milo`,
	description: `${frontmatter.description}`
}

// Const function to format author name
const formatRoleName = (role: string): string => {
	return role
		.split('-')
		.map((part) => part.charAt(0).toUpperCase() + part.slice(1))
		.join(' ')
}
---

<Layout title={SEO.title} description={SEO.description}>
	<Section
		id="intro"
		classes="!overflow-visible border-neutral-200 dark:border-neutral-500 border-b"
	>
		<Row>
			<Col span="12" classes="max-w-3xl self-center justify-self-center ">
				<div class="relative z-10 text-left">
					<span class="absolute -left-24 -top-32 h-48 w-48 rounded-full bg-primary-500"></span>
					<h1 class="text-center text-5xl opacity-80">
						{frontmatter.title}
					</h1>
					<p class="text-center text-lg opacity-80">
						{formatRoleName(frontmatter.roles.join(', '))}
					</p>
					<img
						src={frontmatter.heroImage}
						alt={frontmatter.title}
						class="-mb-20 w-full border border-neutral-200 md:-mb-32 lg:-mb-60 dark:border-neutral-500"
					/>
				</div>
			</Col>
		</Row>
	</Section>
	<div class="collection-body basic-text basic-text--lg mt-10 md:mt-20">
		<slot />
		<div class="mt-12 flex flex-row justify-between">
			<Button link="/#contact" type="link" variation="link" size="lg">
				Contact me <Icon name="short-arrow-right" size="20" />
			</Button>
			<Button link="/case-studies" type="link" variation="link" size="lg">
				View more Case Studies
			</Button>
		</div>
	</div>
</Layout>

<style>
	.collection-body {
		@apply mx-auto max-w-3xl px-6 py-12 lg:py-24;
	}
</style>
