---
// Imports
const { frontmatter } = Astro.props

// Components
// - Layout
import Layout from './Layout.astro'
import Col from '../components/ui/Col.astro'
import Row from '../components/ui/Row.astro'
import Section from '../components/ui/Section.astro'
// - Blocks
import TitleText from '../components/blocks/titleText/TitleText.astro'
import Feedback from '../components/blocks/testimonials/Feedback.astro'
// - UI
import Button from '../components/ui/Button.astro'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

// Content
// - SEO
const SEO = {
	title: `${frontmatter.title} | Milo`,
	description: `${frontmatter.description}`
}

// Const function to format author name
const formatRoleName = (role: string): string => {
	return role
		.split('-')
		.map((part) => part.charAt(0).toUpperCase() + part.slice(1))
		.join(' ')
}
console.log(frontmatter.id)
---

<Layout title={SEO.title} description={SEO.description}>
	<Section id="intro" classes="!overflow-visible">
		<Row>
			<Col span="2" />
			<Col span="10">
				<div>
					<h1 class="lg:text-9xl">
						{frontmatter.title}
					</h1>
				</div>
			</Col>
		</Row>
	</Section>
	<Section padding="none">
		<Row>
			<Col span="12">
				<Image
					src={frontmatter.heroImage}
					alt={frontmatter.title}
					width={1460}
					height={700}
					class="w-full border border-neutral-50 dark:border-neutral-500"
				/>
			</Col>
		</Row>
	</Section>
	<TitleText
		title="About the project"
		id="about-project"
		classes="collection-body basic-text basic-text--lg"
	>
		<div slot="firstColumn" set:html={frontmatter.aboutProject.leftCol} />
		<div slot="secondColumn" set:html={frontmatter.aboutProject.rightCol} />
	</TitleText>
	<TitleText
		title="What we did"
		id="what-we-did"
		classes="collection-body basic-text basic-text--lg"
	>
		<div slot="firstColumn" set:html={frontmatter.whatWeDid.leftCol} />
		<div slot="secondColumn" set:html={frontmatter.whatWeDid.rightCol} />
	</TitleText>
	{
		frontmatter.images && (
			<Section padding="bottom" id="images">
				<Row>
					<Col span="2" classes="row-span-2" />

					{frontmatter.images.map((image: string) => (
						<Col span="5">
							<Image
								src={image}
								alt={frontmatter.title}
								width={600}
								height={400}
								class="w-full border border-neutral-50 dark:border-neutral-500"
							/>
						</Col>
					))}
				</Row>
			</Section>
		)
	}
	<Feedback title="Client feedback" id="client-feedback" data={frontmatter.clientFeedback} />
</Layout>

<style>
	.collection-body {
		@apply mx-auto max-w-3xl px-6 py-12 lg:py-24;
	}
</style>
