---
// Imports
const { frontmatter } = Astro.props

// Components
// - Layout
import Layout from './LayoutCode.astro'
import Col from '../components/ui/Col.astro'
import Row from '../components/ui/Row.astro'
import Section from '../components/ui/Section.astro'
// - UI
import { Image } from 'astro:assets'
import Slider from '../components/ui/Slider.astro'
import Testimonial from '../components/ui/Testimonial.astro'

// Content
// - SEO
const SEO = {
	title: `${frontmatter.title} | Milo`,
	description: `${frontmatter.description}`
}
---

<Layout title={SEO.title} description={SEO.description}>
	<!-- Intro -->
	<Section id="intro" classes="!pt-0">
		<Row>
			<Col span="10" spanMobile="4">
				<div>
					<h1>
						{frontmatter.title}
					</h1>
				</div>
			</Col>
		</Row>
	</Section>

	<!-- Image -->
	<Section classes="!p-0">
		<Row>
			<Col span="12">
				<Image
					src={frontmatter.heroImage}
					alt={frontmatter.title}
					width={1460}
					height={700}
					class="w-full border border-neutral-50 dark:border-neutral-500"
				/>
			</Col>
		</Row>
	</Section>

	<!-- About the project -->
	<Section id="about-the-project">
		<Row classes="collection-body basic-text basic-text--lg">
			<Col span="2" spanMobile="4">
				<h2 class="lg:text-right">About the project</h2>
			</Col>
			<Col span="5" spanMobile="4">
				<div set:html={frontmatter.aboutProject.leftCol} />
			</Col>
			<Col span="5" spanMobile="4">
				<div set:html={frontmatter.aboutProject.rightCol} />
			</Col>
		</Row>
	</Section>

	<!-- What we did -->
	<Section id="what-we-did">
		<Row classes="collection-body basic-text basic-text--lg">
			<Col span="2" spanMobile="4">
				<h2 class="lg:text-right">What we did</h2>
			</Col>
			<Col span="5" spanMobile="4">
				<div set:html={frontmatter.whatWeDid.leftCol} />
			</Col>
			<Col span="5" spanMobile="4">
				<div set:html={frontmatter.whatWeDid.rightCol} />
			</Col>
		</Row>
	</Section>

	<!-- Images -->
	{
		frontmatter.images && (
			<Section classes="!pt-0" id="images">
				<Row>
					<Col span="2" />
					<Col span="10" spanMobile="4">
						<div class="grid grid-cols-1 gap-9 lg:grid-cols-2">
							{frontmatter.images.map((image: string) => (
								<Image
									src={image}
									alt={frontmatter.title}
									width={600}
									height={400}
									class="w-full border border-neutral-50 dark:border-neutral-500"
								/>
							))}
						</div>
					</Col>
				</Row>
			</Section>
		)
	}

	<!-- Client feedback -->
	<Section id="client-feedback">
		<Row>
			<Col span="2" spanMobile="4">
				<h2 class="lg:text-right">Feedback</h2>
			</Col>
			<Col span="10" spanMobile="4">
				<Slider
					slidesPerView={1}
					id="feedbackSlider"
					delay={3500}
					showNavigation={false}
					centeredSlides={true}
					initialSlide={0}
				>
					{
						frontmatter.clientFeedback.map((item: any) => (
							<div class="swiper-slide">
								<Testimonial
									blockquote={item.blockquote}
									figcaption={item.figcaption}
									cite={item.cite}
									align="left"
								/>
							</div>
						))
					}
				</Slider>
			</Col>
		</Row>
	</Section>
</Layout>

<style>
	.collection-body {
		@apply mx-auto max-w-3xl px-6 py-12 lg:py-24;
	}
</style>
