---
// Feature Section
// ------------
// Description: The Feature component is designed to highlight and showcase a specific feature, functionality, or offering within a product, application, or website.
// Properties:
// - type: the type of the feature (top-icon, side-icon)
// - title: the title of the feature
// - icon: the icon of the feature
// - iconStyle: the style of the icon (normal, square)
// - align: the content alignment of the feature (left, center)
// - classes: additional classes
// Reference: https://wind-ui.com/components/features/

import { Icon } from 'astro-icon/components'
import Image from 'astro/components/Image.astro'

// Props
type Props = {
	type?: 'top-icon' | 'side-icon'
	title?: string
	icon?: string
	image?: string
	iconStyle?: 'normal' | 'square'
	align?: 'left' | 'center'
	classes?: string
}
const { type = 'top-icon', title, icon, image, iconStyle, align, classes } = Astro.props
---

<div
	class:list={[
		'feature',
		{ [`feature--${type}`]: type },
		{ [`feature--${align}`]: align },
		{ [`${classes}`]: classes }
	]}
>
	{
		icon && (
			<Icon
				name={icon}
				class:list={[
					'shrink-0',
					{ 'size-6 text-primary-500': iconStyle !== 'square' },
					{ 'size-10 rounded bg-primary-500 p-2 text-white': iconStyle === 'square' }
				]}
			/>
		)
	}
	{
		image && (
			<Image
				src={image}
				alt={title || 'Feature image'}
				class:list={[
					'shrink-0',
					{ 'size-10': iconStyle !== 'square' },
					{ 'size-12 rounded bg-primary-500 p-2 text-white': iconStyle === 'square' }
				]}
				width={iconStyle === 'square' ? 48 : 40}
				height={iconStyle === 'square' ? 48 : 40}
			/>
		)
	}
	<div class="feature__body">
		{
			title && (
				<h3
					class:list={[
						'feature__title',
						{ 'mb-2 py-2': iconStyle === 'square' && type === 'side-icon' }
					]}
				>
					{title}
				</h3>
			)
		}
		<slot />
	</div>

	<style>
		.feature {
			@apply flex flex-col gap-4;
		}
		.feature__title {
			@apply mb-4 text-lg font-normal leading-6;
		}
		.feature__body {
			@apply text-neutral-500 dark:text-neutral-400;
		}
		.feature--center {
			@apply items-center text-center;
		}
		.feature--side-icon {
			@apply flex-row;
		}
	</style>
</div>
