---
// Slider
// ------------
// Description: the slider component is a ui element that allows users to browse through a series of content.
// Properties:
// - delay: The delay of the slider (optional, number)
// - effect: The effect of the slider (optional, string, default: 'slide')
// - slidesPerView: The number of slides per view (optional, number, default: 1)
// - showPagination: Whether to show the pagination (optional, boolean, default: true)
// - showNavigation: Whether to show the navigation (optional, boolean, default: true)
// - centeredSlides: Whether to center the slides (optional, boolean, default: false)
// - spaceBetween: The space between the slides in pixels (optional, number, default: 16)
// - initialSlide: The initial slide index (optional, number, default: 0)
// - id: The id of the slider (optional, string)
// - classes: Additional classes to be added to the slider (optional, string)
// Reference: https://swiperjs.com/swiper-api

// Components
// - UI
import '../../styles/swiper.css'

// Props
type Props = {
	delay?: number
	effect?: string
	slidesPerView?: number
	showPagination?: boolean
	showNavigation?: boolean
	centeredSlides?: boolean
	spaceBetween?: number
	initialSlide?: number
	id?: string
	classes?: string
}
const {
	delay,
	effect = 'slide',
	slidesPerView = 1,
	showPagination = true,
	showNavigation = true,
	centeredSlides = false,
	spaceBetween = 16,
	initialSlide = 0,
	id,
	classes = ''
} = Astro.props
---

<div class:list={['swiper', { [`swiper-${id}`]: id }, classes]}>
	<div class="swiper-wrapper">
		<slot />
	</div>
	{showPagination && <div class="swiper-pagination" />}
	{
		showNavigation && (
			<>
				<div class="swiper-button-prev" />
				<div class="swiper-button-next" />
			</>
		)
	}
</div>

<script
	is:inline
	define:vars={{ id, delay, slidesPerView, effect, spaceBetween, centeredSlides, initialSlide }}
>
	document.addEventListener('astro:page-load', () => {
		const swiperScript = document.createElement('script')
		swiperScript.src = 'https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js'
		document.head.appendChild(swiperScript)

		swiperScript.onload = () => {
			const slidesID = id
			const swiperDelay = delay
			const swiperSlidesPerView = slidesPerView
			const swiperEffect = effect
			const swiperSpaceBetween = spaceBetween
			const swiperCenteredSlides = centeredSlides
			const swiperInitialSlide = initialSlide
			const pagination = document.querySelector(`.swiper-${slidesID} .swiper-pagination`)
			const next = document.querySelector(`.swiper-${slidesID} .swiper-button-next`)
			const prev = document.querySelector(`.swiper-${slidesID} .swiper-button-prev`)

			const swiperConfig = {
				loop: true,
				pagination: {
					el: pagination,
					clickable: true,
					renderBullet: function (index, className) {
						return `<span class="${className} custom-pagination-bullet">${String(index + 1).padStart(2, '0')}</span>`
					}
				},
				navigation: {
					nextEl: next,
					prevEl: prev
				},
				autoplay: swiperDelay
					? {
							delay: swiperDelay
						}
					: false,
				effect: swiperEffect,
				slidesPerView: swiperSlidesPerView,
				centeredSlides: swiperCenteredSlides,
				initialSlide: swiperInitialSlide,
				spaceBetween: parseInt(swiperSpaceBetween)
			}

			new Swiper(`.swiper-${slidesID}`, swiperConfig)
		}
	})
</script>
